.card-container {
  background-color: rgb(219, 218, 218);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.task-title {
  margin-left: 5%;
}

.btn-delete {
  cursor: pointer;
  height: 26px;
  border-radius: 3px;
  text-align: right;
  margin-right: 7%;
  color: white;
  background-color: rgb(238, 105, 105);
  border: none;
}

.btn-delete:hover {
  background-color: rgb(240, 58, 58);
}
